$card-gray: #666666;
$card-gray-light: #b1b1b1;
$card-border-color: #e5e5e5;
$card-padding: 18px;

.card {
	margin-bottom: $card-padding;
}

.card-object {
	img {
		width: 100%;
	}
}

.card-body {
	border: solid 1px $card-border-color;
	border-top: none;
	padding: $card-padding;
}

.card-price {
	margin-bottom: $card-padding;

	.price {

		position: relative;

		> span {
			position: relative;
			font-size: 18px;
			color: $card-gray;
			margin: 0 auto;
			background: #fff;
			z-index: 2;
			padding: 0 10px;
		}
		> hr {
			width: 100%;
			position: absolute;
			left: 0;
			top: 50%;
			margin: 0;
			color: $card-border-color;
			z-index: 1;
		}
	}

	.category-name {
		color: $card-gray-light;
	}
}

.card-title {
	a {
		color: $card-gray;
		font-size: 16px;
		text-decoration: none;
		@include transition-duration(250ms);

		&:hover,
		&:active {
			color: #ea510b;
			@include transition(250ms color linear);
		}
	}
	hr {
		width: 30%;
		margin-left: auto;
		margin-right: auto;
		border-color: $card-border-color;
	}
}

.card-desc {
	color: $card-gray-light;
	margin-bottom: $card-padding;
}

.card-stars {
	color: $card-gray-light;

	span {
		font-size: 16px;
	}
}

.news-card-row {

	margin-left: 0;
	margin-right: 0;

	.col-sm-6 {
		padding: $card-padding;
		border: solid 1px $card-border-color;
	}
}

.news-card {

}

.news-card-heading {
	margin-bottom: 20px;
	a {
		font-size: 20px;
		color: $card-gray;
	}
	em {
		font-style: normal;
		line-height: 28px;
		color: $card-gray-light;
	}
}

.news-card-desc {
	margin-bottom: 20px;
	color: $card-gray-light;
}

.news-card-object {
	margin-bottom: 20px;
	img {
		width: 100%;
	}
}