.profile {
	min-height: 600px;
	border-bottom: solid 3px #d2d2d2;
	background: url(../img/profile_bg.png) repeat;
}

.profile-object {

	border: solid 1px #d9d9d9;

	img {
		display: block;
		width: 100%;
	}
}

.profile-object-credit {
	border-top: solid 1px #d9d9d9;
	color: #999;
	padding: 12px 18px;
}

.profile-body {}

.profile-title {
	color: #333;
	border-bottom: solid 3px #d2d2d2;
	margin-top: 0;
	padding-bottom: 8px;
}

.profile-credit {
	color: #999;
	margin-bottom: 20px;
	font-size: 12px;

	p {
		margin-bottom: 5px;
	}
}

.profile-follow {
	margin-bottom: 40px;
}

.profile-contents {
	color: #999;
	p {
		line-height: 23px;
	}
}